<a href="https://colab.research.google.com/github/Suman-KC/googlecolab/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=()
n=int(input("enter the number"))
for i in range(n):
  roll=int(input("enter your roll"))
  age=str(input("enter your age"))
  adress=str(input("enter your adress"))
  a=a+((roll,age,adress),)
print(a)

enter the number3
enter your roll4
enter your agexdfg
enter your adresssfdds
enter your roll3
enter your agesdfsd
enter your adresssdfdsf
enter your roll3
enter your agesdfas
enter your adressgfgdf
((4, 'xdfg', 'sfdds'), (3, 'sdfsd', 'sdfdsf'), (3, 'sdfas', 'gfgdf'))

In [5]:
a=((4, 'xdfg', 'sfdds'), (3, 'sdfsd', 'sdfdsf'), (3, 'sdfas', 'gfgdf'))
b=list(a)
b.append((3,'adf','cdj'))

[(4, 'xdfg', 'sfdds'), (3, 'sdfsd', 'sdfdsf'), (3, 'sdfas', 'gfgdf')]

In [3]:
n=int(input("enter any number"))
for i in range(1,11):
  j=n*i
  print("{0}*{1}={2}".format(n,i,j))

enter any number4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [9]:
n=int(input("enter any number"))
j=0
for i in range(1,n+1):
  j=j+i
print("the sum of first {0} natural number is :{1}".format(n,j))

enter any number20
the sum of first 20 natural number is :190

In [19]:
flag=0
n=int(input("enter any number you want to check"))
for i in range(1,n+1):
  if (n%i) == 0:
    flag=flag+1;
if flag==2:
 print("given number is  prime number ")
else:
  print("given number is not prime number")

enter any number you want to check7
given number is  prime number

In [20]:
for i in range(101):
  if(i%2)==0:
    print()
  else:
    print(i)

1

3

5

7

9

11

13

15

17

19

21

23

25

27

29

31

33

35

37

39

41

43

45

47

49

51

53

55

57

59

61

63

65

67

69

71

73

75

77

79

81

83

85

87

89

91

93

95

97

99

In [21]:
alphabet=["A","B","C","D","E"]
for i in alphabet:
  print(i)

A
B
C
D
E

In [22]:
a=(["Ram",23,"dang"],["shyam",23,"ktm"],["sita",56,"dang"])
a[0].append("98765445678")
a

(['Ram', 23, 'dang', '98765445678'],
 ['shyam', 23, 'ktm'],
 ['sita', 56, 'dang'])